<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/philhealth.css') }}">
    <title>{% block title %}Flask Form to SQLite{% endblock %}</title>
  </head>
  <body>
    <div class="wrap">
      <nav style="margin-bottom:18px; display:flex; gap:12px;">
        <a href="/">PhilHealth Form</a>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>